<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/catalog.css') }}">

    <title>New Item | Udacity Item Catalog</title>
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('show_catalog') }}">Item Catalog</a>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{{ url_for('show_catalog') }}" class="nav-link">All Categories</a>
                    </li>
                    <li class="nav-item ml-2">
                        {% if 'user_id' not in login_session %}
                        <a href="{{ url_for('show_login') }}" class="btn btn-primary">Login</a>
                        {{login_session['user_id']}} {% else %}
                        <a href="{{ url_for('disconnect') }}" class="btn btn-primary">Logout</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="text-center">
            <div class="mt-2">
                {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show text-left" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %} {% endif %} {% endwith %}
            </div>
            <h2 class="my-5">Add a new Item</h2>
            <div class="w-50 mx-auto">
                <form action="{{ url_for('new_item') }}" method="POST">
                    <label for="name">Enter Item Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter Item Name" size="30" name="name" required>
                    <label class="mt-3" for="description">Description</label>
                    <textarea class="form-control" id="description" placeholder="Enter item description here" name="description" required></textarea>
                    <label class="mt-3" for="category">Category</label>
                    <select class="custom-select" id="catgory" name="category_id" required>
                        <option value="" disabled selected>Select a Category</option>
                        {% for category in categories %}
                        <option value="{{category.id}}">{{category.name}}</option>
                        {% endfor %}
                    </select>
                    <input class="btn btn-primary mt-2" type="submit">
                    <a class="btn btn-light mt-2" href="{{ url_for('show_catalog') }}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>